{% extends "account/index.html" %}
{% load static %}

{% block title %}About{% endblock %} 

{% block content %}
<div class="m-12 p-8 bg-gradient-to-t from-neutral-300 space-y-5">
    <h1 class="text-3xl font-bold mb-4">Discover Your Dream Home with HouseQuest!</h1>
    <p class="text-lg">At our HouseQuest, we believe that finding the perfect place to call home should be a delightful experience. We are here to redefine the way you search, discover, and rent properties. With our innovative platform, we aim to make the process smooth, efficient, and tailored to your needs.
    </p>
    <p class="text-lg"><span class="font-bold">Our Vision:</span>We envision a world where everyone can easily find their dream rental property, whether it's a cozy apartment, a spacious house, or a trendy loft. We strive to be the go-to destination for all your rental needs, connecting you with a wide range of high-quality properties and providing exceptional service every step of the way.
    </p>
    <p class="text-lg"><span class="font-bold">Experience the Future of Renting:</span>We invite you to embark on a journey with us, revolutionizing the way you search for and secure your next rental property. Discover the ease, convenience, and joy of finding your dream home with our HouseQuest.</p>
    <p class="text-lg">Thank you for choosing us as your trusted rental partner. We look forward to helping you find your perfect place!</p>
    <p class="text-lg">Warm Regards,The HouseQuest Team</p>
</div>
{% endblock %}