{% extends "account/index.html" %}
{% load static %}

{% block title %}Terms and Conditions{% endblock %} 

{% block content %}
<div class="m-12 p-8 bg-gradient-to-tr from-neutral-300">
    <p class="text-3xl font-bold mb-4">Terms and Conditions</p>
    <p class="text-lg mb-5">Welcome to HouseQuest! These Terms and Conditions govern your use of our platform and services. By accessing or using HouseQuest, you agree to comply with these terms. Please read them carefully before proceeding.</p>
    <ol class="list-decimal space-y-5">
        <li><span class="text-lg font-bold">User Responsibilities:</span>
            <ul class="list-disc ml-6 text-lg">
                <li>You must be at least 18 years old to use  HouseQuest.</li>
                <li>You are responsible for maintaining the confidentiality of your account credentials and ensuring their security.</li>
                <li>You agree to provide accurate and up-to-date information during the registration process and when using our services.</li>
                <li>You are solely responsible for your interactions with other users and property owners.</li>
            </ul>
        </li>
        <li><span class="text-lg font-bold">Property Listings:</span>
            <ul class="list-disc ml-6 text-lg">
                <li>HouseQuest provides property listings for informational purposes only. We do not endorse or guarantee the accuracy, availability, or quality of any property listed.
                </li>
                <li>Property owners are responsible for the accuracy and legality of their listings. We are not responsible for any misrepresentation or misconduct by property owners or users.</li>
                <li>You acknowledge that property availability, pricing, and terms may change without notice. We recommend contacting the property owner directly for the most accurate and updated information.</li>
            </ul>
        </li>
        <li><span class="text-lg font-bold">Rental Agreements:</span>
            <ul class="list-disc ml-6 text-lg">
                <li>Any rental agreements or contracts entered into through our Rental System are solely between the property owner and the renter. We are not a party to such agreements and assume no liability or responsibility for them.
                </li>
                <li>It is your responsibility to review and understand the terms, conditions, and obligations of any rental agreement before entering into it.</li>
                <li>We recommend seeking legal advice or assistance when entering into rental agreements to protect your rights and interests.</li>
            </ul>
        </li>
        <li><span class="text-lg font-bold">User Conduct:</span>
            <ul class="list-disc ml-6 text-lg">
                <li>You agree to use HouseQuest for lawful purposes only and to comply with all applicable laws and regulations. 
                </li>
                <li>You must not engage in any fraudulent, deceptive, or harmful activities on our platform.</li>
                <li>You must not use HouseQuest to infringe upon the intellectual property rights of others or to transmit any unauthorized or harmful content.</li>
                <li>You must not interfere with the proper functioning of HouseQuest or attempt to gain unauthorized access to our systems or user data.</li>
            </ul>
        </li>
        <li><span class="text-lg font-bold">Intellectual Property:</span>
            <ul class="list-disc ml-6 text-lg">
                <li>HouseQuest and its contents, including but not limited to logos, trademarks, text, images, and software, are protected by intellectual property rights and are the property of their respective owners.
                </li>
                <li>You may not reproduce, modify, distribute, or exploit any part of our Rental System without prior written consent from the respective rights holders.</li>
            </ul>
        </li>
        <li><span class="text-lg font-bold">Limitation of Liability:</span>
            <ul class="list-disc ml-6 text-lg">
                <li>We strive to provide a reliable and secure platform, but we cannot guarantee uninterrupted access or complete absence of errors or vulnerabilities.
                </li>
                <li>We are not liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or in connection with your use of HouseQuest or any transactions or interactions facilitated through it.</li>
            </ul>
        </li>
        <li><span class="text-lg font-bold">Privacy:</span>
            <ul class="list-disc ml-6 text-lg">
                <li>We value your privacy and handle your personal information in accordance with our Privacy Policy. Please review the policy to understand how we collect, use, and protect your information.</li>
            </ul>
        </li>
        <li><span class="text-lg font-bold">Modification of Terms:</span>
            <ul class="list-disc ml-6 text-lg">
                <li>We reserve the right to modify these Terms and Conditions at any time. Any changes will be effective immediately upon posting on our Rental System.</li>
                <li> It is your responsibility to review the updated Terms and Conditions periodically. Continued use of our Rental System after any modifications constitutes acceptance of the revised terms.</li>
            </ul>
        </li>
    </ol>
    <p class="text-lg">If you have any questions or concerns regarding these Terms and Conditions, please contact us. Thank you for choosing HouseQuest!</p>
    <p class="text-lg">Last updated: 2023</p>
</div>
{% endblock %}